<header class="flex justify-center items-center py-3 w-[1120px] mx-auto">
    <nav class="flex gap-6">
        <a
            href="#home"
            class="text-white transition-all duration-200 hover:text-pink-400 hover:scale-105"
        >
            Inicio
        </a>
        <a
            href="#projects"
            class="text-white transition-all duration-200 hover:text-pink-400 hover:scale-105"
        >
            Proyectos
        </a>
        <a
            href="#skills"
            class="text-white transition-all duration-200 hover:text-pink-400 hover:scale-105"
        >
            Skills
        </a>
        <a
            href="#certificate"
            class="text-white transition-all duration-200 hover:text-pink-400 hover:scale-105"
        >
            Certificaciones
        </a>
        <a
            href="#contact"
            class="text-white transition-all duration-200 hover:text-pink-400 hover:scale-105"
        >
            Contacto
        </a>
    </nav>
</header>
