

<header class="flex justify-center space-x-6 items-center py-3 w-[1120px] mx-auto">
    <nav class="flex gap-6">
        <a href="#home" class="text-white hover:underline">Inicio</a>
        <a href="#projects" class="text-white hover:underline">Proyectos</a>
        <a href="#skills" class="text-white hover:underline">Skills</a>
        <a href="#certificate" class="text-white hover:underline">Certificaciones</a>
        <a href="#contact" class="text-white hover:underline">Contacto</a>
      </nav>
      
</header>